export(centerNumerics)
export(centralValues)
export(combineLevels)
export(genCorrelatedData)
export(getDeltaRsquare)
export(lmAuxiliary)
export(magRange)
export(mcDiagnose)
export(mcGraph1)
export(mcGraph2)
export(mcGraph3)
export(meanCenter)
export(model.data)
export(newdata)
export(outreg)
export(perspEmpty)
export(plotCurves)
export(plotPlane)
export(plotSeq)
export(plotSlopes)
export(predictOMatic)
export(residualCenter)
export(standardize)
export(summarize)
export(summarizeFactors)
export(summarizeNumerics)
export(testSlopes)
import(car)
import(MASS)
S3method(meanCenter,default)
S3method(plotPlane,default)
S3method(predict,mcreg)
S3method(predict,rcreg)
S3method(print,factorSummaries)
S3method(print,mcreg)
S3method(print,stdreg)
S3method(print,summary.mcreg)
S3method(print,summary.stdreg)
S3method(residualCenter,default)
S3method(standardize,lm)
S3method(summary,mcreg)
S3method(summary,stdreg)
